.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #420965d8;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    padding: 0 0.8rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
    height: 4.5rem;
    z-index: 5;
}