#description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
    padding: 4rem 0;
    max-width: 1570px;
}

.description__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem;
    max-width: 900px;
}

.description__text p {
    font: inherit;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 1.2rem;
    text-align: center;
}

.description__avatar {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 1rem 0;
}

@media screen and (max-width: 850px) {
    #description {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media screen and (max-width: 470px) {
    .description__text{
        width: 100%;
        padding: 0 0.5rem;
    }
}
