.backdrop {
    display: none;
    background-color: #700824cc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow: hidden;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
